@using System.Web.Mvc.Html
@model IEnumerable<MyLibrary.Models.Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
        </tr>
        @foreach (var mass in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => mass.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => mass.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => mass.Year)
                </td>
            </tr>
        }
    </table>

</body>
</html>



